ul li a.active::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #f46e16;
  margin-top: 5px;
}

ul li a {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}